header{
  float: left;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  background-color: black;
  color: whitesmoke;
  z-index: 15;
  .menu-md{
    float: left;
    width: 150px;
    //display: block;
  }
}
.header__logo{
  float: left;
}
.upload{
  //clear: both;
  float: left;
  background-color: black;
  color: whitesmoke;
  border-radius: 25px;
  font-size: 1em;
  margin: 0 25px;
  margin-top: 6px;
  padding: 10px 10px 5px 10px;
  &:hover{
    background-color: lightseagreen;
  }
  //@include bp-xs{
  //  float: left;
  //}
}

.header__logo--sm{
  width: 100px;
  padding-left: 20px;
  margin-top: 10px;
}
.login_logout, .registration.btn-group{
  float: right;
  margin-top: 18px;
 margin-right: 50px;
}
.nav-item-login,
.nav-item-logout{
  float: right;
  color: white;
}
.btn--register{
  float: left;
  background-color: black;
  border-radius: 20px;
  &:hover{
    background-color: #5e5e5e;
  }
}

.nav-item-logout{
  margin-top: 12px;
  padding: 10px 20px;
  &:hover{
    color: lightseagreen;
  }
}