body{
  background-color: #252830;
  transition: all 1.5s ease;

}
.thumbnail, .photo-gallery__link {
  position: relative;
  //z-index: -1;
  //transition: opacity 1.5s ease;
}
.highlight {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 20px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  //display: none;
  opacity: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  //transition: opacity 0.5s ease;
}
.photo-gallery__link:hover .highlight{
  padding: 20px;
  display: block;
  opacity: 1;
  transition: opacity 1.5s ease;
  transition-duration: 1s;
}
.pagination > li:first-child > a{
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
}
.pagination > li:last-child > a {
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
}
.thumbnail--title{
  font-size: 1.1em;
  transition: all 1.5s ease;
}
.thumbnail--username{
  font-weight: 700;
  font-size: 15px;
  transition: all 1.5s ease;
  color: lightseagreen;
}
.thumbnail--description{
  padding-top: 5px;
  font-weight: 500;
  line-height: 1.2em;
}